html, body {
    background-color: #512a2a;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Crimson Text', serif;
    color: #B65B5E;
    text-shadow: black 1px 1px;

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#container {
    margin-top: 5%;
    width: 50%;
    background-color: #361b1b;
    height: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5em;
    margin-bottom: 0;
}

#inputContainer {
    margin-top: 5%
}

#rageInput {
    padding: 1px;
    height: 100%;
}

#rageInput:focus {
    border: 2px solid #b54b3a;
    border-radius: 4px;
}

#addRageButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
    border:1px solid #241d13;
    border-radius: 5px;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	padding: 9px 18px;
	text-shadow:0px -1px 0px #7a2a1d;
}
#addRageButton:hover {
	background-color:#b34332;
}
#addRageButton:active {
	position:relative;
	top:1px;
}

#listContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

#listContainer > h2 {
    width: 35%;
    font-size: 2em;
    flex: 0 0 100%;
    text-decoration: underline;
}

#listContainer > ul {
    list-style-type: none;
    font-size: 1.7em;
    flex: 0 0 100%;
}